// eslint-disable
body {
    font-size  : 0.875rem;
    font-family: sans-serif;
    background : #f2f2f2;
}

.white_anchor,
.white_anchor:hover {
    color          : #fff;
    text-decoration: none;
    line-height    : inherit;
    font-weight    : 500;
}

.black_anchor,
.black_anchor:hover {
    color          : #000;
    text-decoration: none;
    line-height    : inherit;
    font-weight    : 500;
}

.is_loading {
    font-size      : 25px;
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 80vh;
}

@mixin default-btn() {
    max-height     : 45px;
    padding        : 0.75rem 1rem;
    border-radius  : 2rem;
    border         : none;
    display        : flex;
    align-items    : center;
    justify-content: center;
}

button {
    @include default-btn();

    &.btn-primary {
        background: #257aa6;
        color     : #fff;
    }
}

button.v-facebook-login {
    @include default-btn();

    background: #257aa6;
    color     : #fff;
}